header {
    background-color: aquamarine;
    color: cornsilk;
    text-align: center;
}

article{
    background-color: darkcyan;
    color: darkgrey;
    padding-left: 24px;
}

.articledos{
    background-color: indigo; 
    color: darkgrey;
    padding-left: 24px}

aside{
    background-color: rgb(218, 218, 218);
    color: darkgrey;
    padding-left: 24px;
}
.color1{
    background-color: lightseagreen;
}

.color2{
    background-color: olivedrab;
}

footer {
    background-color: cadetblue;
    color: cornsilk;
    padding: 12px;

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    color:red;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    color:black;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    color:red;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    color:black;
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    color:red;
}